body {
  font-size:200px;
  /*   background:black; */
  text-align: center;
  line-height: 1;
  color:white;
  background:black;
  font-family: 'Cousine', monospace;
}

.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  transition:all 1000ms;
  will-change:background;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	/*background: black;*/
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

#hh, #mm, #ss {
  /* background: red; */
  width: 100px;
  height: 50px;
  /* display:table; */
  text-align: center;
}

.f0 {font-family: 'Cousine', monospace;}
